@{
    ViewBag.Title = "Home";
}

@model Echo.Models.Information

@{
    Echo.Models.Information info = new Echo.Models.Information();

}

<div class="row">

    <div id="myMap" style="position:relative; width:100%; height:600px; left:0px; top:0px;"></div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var map, infobox;


        function LoadMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                credentials: "ArJ1IegHRpQSYy_aSEg6FiIhU-So2EQ753V8GVykKIM3TLYi9z_NvC6aq0B7uruI",
                mapTypeId: Microsoft.Maps.MapTypeId.road
            });
            infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
                visible: false
            });

            //Assign the infobox to a map instance.
            infobox.setMap(map);

            //addPin();
            mapPassangerLocation();
        }

        function addPin() {
            var pin = new Microsoft.Maps.Pushpin(map.getCenter(), { text: 'A', title: 'Title', subTitle: 'Subtitle' });


            infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
                visible: false
            });

            //Assign the infobox to a map instance.
            infobox.setMap(map);

            pin.metadata = {
                title: 'Passenger Information',
                description: ''
            };
            Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
            map.entities.push(pin);
        }



        function pushpinClicked(e) {
            //Make sure the infobox has metadata to display.
            if (e.target.metadata) {
                //Set the infobox options with the metadata of the pushpin.
                infobox.setOptions({
                    location: e.target.getLocation(),
                    title: e.target.metadata.title,
                    description: e.target.metadata.description,
                    visible: true
                });

                //Model.NamaInfo = e.title;


                if (e.title == "Passenger Information") {
                    
                }
                

            }
            manyPin();


        }

        function manyPin() {
            var url = "/Home/GetLocation";
            $.getJSON(url, null, function (data) {
                
                $.each(data, function (index, LocationData) {
                    var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);

                    pushpin.setLocation(new Microsoft.Maps.Location(Number(LocationData.longitude),
                        Number(LocationData.latitude)));

                    alert(LocationData.longitude + LocationData.latitude);
                    map.entities.push(pushpin);
                });
                
                map.setView({
                    zoom: 4, center: new Microsoft.Maps.Location(23.505353, 78.485292)
                });
            });
        }



        function mapPassangerLocation() {
            var url = "/Info/UpdateListPassenger";
            $.getJSON(url, null, function (data) {
                $.each(data, function (index, PassengerData) {
                    var passengerPin = new Microsoft.Maps.Pushpin(map.getCenter(), null);

                    passengerPin.setLocation(new Microsoft.Maps.Location(Number(PassengerData.latitude),
                        Number(PassengerData.longitude)));

                    passengerPin.metadata = {
                        title: "Status: " + PassengerData.condition,
                        description:    
                        "Name : " + PassengerData.name + 
                        "<br> Heartrate : " + PassengerData.heartrate + 
                        "<br> Temperature : " + PassengerData.temperature 

                    };
                    Microsoft.Maps.Events.addHandler(passengerPin, 'click', pushpinClicked);
                    map.entities.push(passengerPin);
                });
            });
        }

    </script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>

</div>
@Html.Partial("~/Views/Info/_Information.cshtml",info);


